[submodule "Packages/RADER"]
	path = Packages/RADER
	url = git@github.com:parasollab/RADER.git
    branch = xrviz_visionOS
[submodule "Packages/ROS-TCP-Connector"]
    path = Packages/ROS-TCP-Connector
	url = git@github.com:parasollab/ROS-TCP-Connector.git
    branch = visionOS
[submodule "Packages/URDF-Importer"]
	path = Packages/URDF-Importer
	url = git@github.com:parasollab/URDF-Importer.git
    branch = visionOS
